.nav{
    display: flex;
    justify-content: space-evenly;
}
#items{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(-1,1fr);
grid-gap:20px;

}
div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

}
a{
    text-decoration: none;
}